@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Madimi+One&family=Roboto:wght@400;500;700&family=Sree+Krushnadevaraya&display=swap');

:root {
    --header-height: 3.5rem;

    /*========== Colors ==========*/
    --first-color: hsl(31, 100%, 70%);
    --button-color: hsl(0, 0%, 17%);
    --button-color-alt: hsl(0, 0%, 21%);
    --title-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 35%);
    --text-color-light: hsl(0, 0%, 55%);
    --body-color: hsl(0, 0%, 98%);
    --container-color: #fff;
    --border-color: hsl(0, 0%, 94%);

    /*========== Font and typography ==========*/
    --body-font: 'Roboto', sans-serif;
    --biggest-font-size: 2rem;
    --h1-font-size: 1.5rem;
    --h2-font-size: 1.25rem;
    --h3-font-size: 1rem;
    --normal-font-size: .938rem;
    --small-font-size: .813rem;
    --smaller-font-size: .75rem;

    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-bold: 700;

    /*========== Margenes Bottom ==========*/
    --mb-0-5: .5rem;
    --mb-0-75: .75rem;
    --mb-1: 1rem;
    --mb-1-5: 1.5rem;
    --mb-2: 2rem;
    --mb-2-5: 2.5rem;
    --mb-3: 3rem;

    /*========== z index ==========*/
    --z-tooltip: 10;
    --z-fixed: 100;
}

@media screen and (min-width: 968px) {
    :root {
        --biggest-font-size: 2.5rem;
        --h1-font-size: 2.25rem;
        --h2-font-size: 1.5rem;
        --h3-font-size: 1.25rem;
        --normal-font-size: 1rem;
        --small-font-size: .875rem;
        --smaller-font-size: .813rem;
    }
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

html {
    scroll-behavior: smooth
}

body,
button,
input {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
}

body {
    margin: 0px;
    background-color: var(--body-color);
    color: var(--text-color);
    transition: 0.3s ease;
}

h1,
h2,
h3,
h4 {
    color: var(--title-color);
    font-weight: var(--font-medium);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

button {
    cursor: pointer;
    border: none;
    outline: none;
}

.header {
    width: 100%;
    background-color: transparent;
    position: fixed;
    left: 0;
    top: 0;
    z-index: var(--z-fixed);
    transition: .3s ease;
}

.scroll-header {
    background-color: var(--body-color);
}

.container {
    max-width: 1300px;
    margin-left: var(--mb-1-5);
    margin-right: var(--mb-1-5);
}

.nav {
    height: var(--header-height);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_logo,
.nav_toggle,
.nav_shop,
.nav_close,
.nav_mode {
    color: var(--title-color);
}

.nav_logo {
    font-weight: var(--font-bold);
    letter-spacing: 1px;
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
}

.nav_logo-icon {
    font-size: 1.25rem;
}

.nav_btns {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.nav_shop,
.nav_mode,
.nav_toggle {
    font-size: 1.25rem;
    cursor: pointer;
}
.showMenu {
    right: 0;
}

.nav_list {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
}

.nav_link {
    color: var(--title-color);
    font-weight: var(--font-medium);
    text-transform: uppercase;
    font-size: var(--h2-font-size);
    transition: .3s ease-in-out;
}

.nav_link:hover {
    color: var(--first-color);
    font-size: var(--h1-font-size);
}

.nav_close {
    font-size: 2rem;
    position: absolute;
    top: .9rem;
    right: 1.25rem;
    cursor: pointer;
}


.main {
    overflow: hidden;
}

.grid {
    display: grid;
}

.home_container {
    position: relative;
    row-gap: 2.5rem;
}

.home_img {
    width: 240px;
}

.home_img-bg {
    background-color: var(--first-color);
    width: 258px;
    height: 387px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    justify-self: flex-end;
    transform: translateX(1.5rem);
}

.home_social {
    position: absolute;
    top: 30%;
    left: -5rem;
    transform: rotate(-90deg);
    display: flex;
    column-gap: 1rem;
}

.home_social-link {
    font-size: var(--smaller-font-size);
    font-weight: bold;
    color: var(--text-color-light);
    transition: .3s;
}

.home_social-link:hover {
    color: var(--title-color);
}

.home_title {
    font-size: var(--biggest-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.home_description {
    margin-bottom: var(--mb-1-5);
}

.home_price {
    display: inline-block;
    font-size: var(--h1-font-size);
    font-weight: var(--font-medium);
    color: var(--first-color);
    margin-bottom: var(--mb-3);
}

.home_btns {
    display: flex;
    align-items: center;
}

.button {
    display: inline-block;
    background-color: var(--button-color);
    color: #ffffff;
    padding: 1.25rem 2rem;
    font-weight: var(--font-medium);
}

.button:hover {
    background-color: var(--button-color-alt);
}

.button--gray {
    background-color: hsl(0, 0%, 75%);
    color: var(--title-color);
}

.button--gray:hover {
    background-color: hsl(0, 0%, 63%);
}

.button--small {
    padding: 1rem 1.5rem;
}

.section {
    padding: 6.5rem 0rem 1rem;
}

.section_title {
    position: relative;
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-3);
    text-transform: uppercase;
    letter-spacing: 2px;
    text-align: center;
}

.section_title::before {
    content: '';
    position: absolute;
    top: -1rem;
    left: 0;
    right: 0;
    width: 88px;
    height: 1px;
    background-color: var(--first-color);
    margin: 0px auto;
}

.featured_container {
    row-gap: 2.5rem;
}

.featured_card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding-top: 2rem;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
}

.featured_tag {
    background-color: var(--first-color);
    padding: 0.5rem 1rem;
    color: #fff;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
    position: absolute;
    transform: rotate(-90deg);
    left: -1rem;
    top: 3rem;
}

.featured_img {
    height: 300px;
    margin-bottom: var(--mb-1);
}

.featured_title,
.featured_price {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.featured_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-75);
}

.featured_price {
    display: block;
    color: var(--first-color);
    transition: 0.3s ease-in-out;
}

.featured_button {
    font-size: var(--small-font-size);
    transform: translateY(1rem);
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.featured_card:hover {
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.featured_card:hover .featured_button {
    transform: translateY(0);
    opacity: 1;
}

.featured_card:hover .featured_price {
    margin-bottom: var(--mb-1-5);
}

.story_container {
    row-gap: 7.5rem;
}

.story_title {
    font-size: var(--h1-font-size);
    font-weight: var(--font-bold);
    margin-bottom: var(--mb-1);
}

.story_description {
    margin-bottom: var(--mb-1-5);
}

.story_images {
    position: relative;
}

.story_img,
.story_square {
    width: 340px;
}

.story_square {
    height: 340px;
    background-color: var(--first-color);
    z-index: -1;
}

.story_img {
    position: absolute;
    left: 3rem;
    top: -3rem;
}

.products_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.products_card {
    position: relative;
    background-color: var(--container-color);
    padding: 1.25rem 0;
    border: 1px solid var(--border-color);
    text-align: center;
}

.products_img {
    height: 200px;
    margin-bottom: var(--mb-1);
}

.products_title,
.products_price {
    font-size: var(--small-font-size);
    font-weight: var(--font-bold);
}

.products_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-5);
}

.products_price {
    color: var(--first-color);
}

.products_button {
    background-color: var(--button-color);
    padding: 0.4rem;
    color: #ffffff;
    font-size: 1rem;
    position: absolute;
    bottom: 0;
    right: 0;
}

.products_button:hover {
    background-color: var(--button-color-alt);
}

.products_card:hover {
    box-shadow: 0 8px 32px hsl(0, 0%, 10%, .1);
}

.testimonial_container {
    row-gap: 4rem;
}

.testimonial_quote {
    display: inline-flex;
    background-color: var(--container-color);
    padding: 0.5rem 0.75rem;
    font-size: 1.5rem;
    color: var(--first-color);
    margin-bottom: var(--mb-2);
}

.testimonial_description {
    margin-bottom: var(--mb-1);
}

.testimonial_date {
    margin-bottom: var(--mb-2);
    font-size: var(--normal-font-size);
}

.testimonial_prefil {
    display: flex;
    align-items: center;
    column-gap: 1rem;
    margin-bottom: 7rem;
}

.testimonial_prefil-img {
    width: 60px;
    height: 60px;
    border-radius: 3rem;
}

.testimonial_prefil-data {
    display: flex;
    flex-direction: column;
    row-gap: .5rem;
}

.testimonial_prefil-name {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
    color: var(--title-color);
}

.testimonial_prefil-data {
    font-size: var(--small-font-size);
}

.testimonial_images {
    position: relative;
}

.testimonial_img,
.testimonial_square {
    width: 340px;
}

.testimonial_square {
    height: 340px;
    background-color: var(--first-color);
    margin-left: auto;
    z-index: -1;
}

.testimonial_img {
    position: absolute;
    right: 3rem;
    top: 3rem;
}

.testimonial-swiper {
    margin-left: initial !important;
    margin-right: initial !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    content: '' !important;
}

.swiper-button-next,
.swiper-button-prev {
    top: initial !important;
    bottom: 5% !important;
    width: initial !important;
    height: initial !important;
    background-color: var(--container-color) !important;
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1) !important;
    padding: .25rem !important;
    font-size: 1.25rem !important;
    color: var(--first-color) !important;
}

.swiper-button-next {
    right: initial !important;
    left: 4rem !important;
}

.new_card {
    position: relative;
    text-align: center;
    background-color: var(--container-color);
    padding-top: 2rem;
    border: 1px solid var(--border-color);
    overflow-y: hidden;
    transition: 0.3s ease;
}

.new_tag {
    background-color: var(--first-color);
    color: #fff;
    position: absolute;
    right: 1rem;
    top: 1rem;
    padding: 0.5rem 1rem;
    text-transform: uppercase;
    font-size: var(--small-font-size);
    font-weight: var(--font-medium);
}

.new_img {
    height: 300px;
    margin-bottom: var(--mb-1);
}

.new_title,
.new_price {
    font-size: var(--h3-font-size);
    font-weight: var(--font-bold);
}

.new_title {
    text-transform: uppercase;
    margin-bottom: var(--mb-0-75);
}

.new_price {
    display: block;
    color: var(--first-color);
}

.new_button {
    font-size: var(--small-font-size);
    transform: translateY(1rem);
    opacity: 0;
    transition: 0.3s ease;
}

.new_card:hover {
    background-color: var(--first-color);
    box-shadow: 0 12px 32px hsla(0, 0%, 20%, .1);
    padding: 2rem 0 3rem 0;
}

.new_card:hover .new_tag {
    background-color: var(--button-color);
}

.new_card:hover .new_button {
    transform: translateY(0);
    opacity: 1;
}

.new_card:hover .new_title {
    color: hsl(0, 0%, 15%);
}

.new_card:hover .new_price {
    color: hsl(0, 0%, 15%);
    margin-bottom: var(--mb-1-5);
}

.newsletter_bg {
    background-color: var(--first-color);
    padding: 3rem 1.5rem;
    text-align: center;
    row-gap: 2.5rem;
}

.newsletter_title {
    font-size: var(--h1-font-size);
    color: hsl(0, 0%, 15%);
    margin-bottom: var(--mb-1-5);
}

.newsletter_description {
    color: hsl(0, 0%, 35%);
}

.newsletter_subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
    margin: auto;
}

.newsletter_input {
    border: none;
    outline: none;
    background-color: hsl(0, 0%, 94%);
    padding: 1.25rem 1rem;
    color: hsl(0, 0%, 15%);
}

.footer_container {
    row-gap: 2rem;
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 3rem;
}

.footer_title {
    font-size: var(--h2-font-size);
    margin-bottom: var(--mb-1-5);
}

.footer_list,
.footer_links {
    display: flex;
    flex-direction: column;
    row-gap: 0.75rem;
}

.footer_link {
    color: var(--text-color);
}

.footer_link:hover {
    color: var(--title-color);
}

.footer_social {
    display: flex;
    column-gap: 1rem;
}

.footer_social-link {
    font-size: 1.25rem;
    color: var(--text-color);
}

.footer_social-link:hover {
    color: var(--title-color);
}

.footer_copy {
    display: block;
    margin: 3.5rem 0 1rem 0;
    text-align: center;
    font-size: var(--smaller-font-size);
    color: var(--text-color-light);
    letter-spacing: 1px;
}

.active-link {
    color: var(--first-color) !important;
}

.scrollup {
    position: fixed;
    right: 1rem;
    background-color: var(--container-color);
    box-shadow: 0 4px 12px hsla(0, 0%, 20%, .1);
    display: inline-flex;
    padding: .25rem;
    z-index: var(--z-tooltip);
    opacity: .8;
    transition: 0.4s ease;
}

.scrollup:hover {
    opacity: 1;
    background-color: var(--button-color);
}

.scrollup:hover .scrollup_icon {
    color: white;
}

.scrollup_icon {
    font-size: 1.5rem;
    color: var(--first-color);
}

::-webkit-scrollbar {
    width: 0.8rem;
}

::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 17%);
}

.cart {
    position: fixed;
    background-color: var(--body-color);
    z-index: var(--z-fixed);
    width: 100%;
    height: 100%;
    top: 0;
    right: -100%;
    padding: 3.5rem 2rem;
    transition: 0.3s ease-in-out;
}

.cart_title-center {
    text-align: center;
    font-size: var(--h1-font-size);
    margin-bottom: var(--mb-3);
}

.cart_close {
    font-size: 2rem;
    position: absolute;
    top: 1.25rem;
    right: .9rem;
    color: var(--title-color);
    cursor: pointer;
}

.cart_close:hover {
    color: var(--text-color);
}

.cart_container {
    display: grid;
    row-gap: 1.5rem;
}

.cart_card {
    display: flex;
    align-items: center;
    column-gap: 1rem;
}

.cart_box {
    background-color: var(--container-color);
    padding: 0.75rem 1.25rem;
    border: 1px solid var(--border-color);
}

.cart_img {
    width: 50px;
}

.cart_title {
    font-size: var(--normal-font-size);
    margin-bottom: var(--mb-0-5);
}

.cart_price {
    display: block;
    font-size: var(--small-font-size);
    color: var(--first-color);
    margin-bottom: var(--mb-1-5);
}

.cart_amount,
.cart_amount-content {
    display: flex;
    align-items: center;
}

.cart_amount {
    column-gap: 3rem;
}

.cart_amount-content {
    column-gap: 1rem;
}

.cart_amount-box {
    display: inline-flex;
    padding: .25rem;
    background-color: var(--container-color);
    border: 1px solid var(--border-color);
    cursor: pointer;
}

.cart_amount-trash {
    font-size: 1.15rem;
    color: var(--first-color);
    cursor: pointer;
}

.cart_prices {
    margin-top: 6rem;
    display: flex;
    justify-content: space-between;
}

.cart_prices-item {
    font-size: var(--small-font-size);
}

.cart_prices-total {
    font-size: var(--h3-font-size);
    font-weight: var(--font-medium);
}

body.dark-theme {
    --first-color: hsl(31, 76%, 74%);
    --button-color: hsl(0, 0%, 24%);
    --button-color-alt: hsl(0, 0%, 28%);
    --title-color: hsl(0, 0%, 95%);
    --text-color: hsl(0, 0%, 75%);
    --body-color: hsl(0, 0%, 12%);
    --container-color: hsl(0, 0%, 16%);
    --border-color: hsl(0, 0%, 20%);
}

.dark-theme .nav_mode,
.dark-theme .nav_shop,
.dark-theme .nav_toggle,
.dark-theme .button--gray {
    color: hsl(0, 0%, 15%);
}

.dark-theme .scroll-header {
    box-shadow: 0 1px 4px hsla(0, 0%, 4%, .3);
}

.scroll-header .nav_shop,
.scroll-header .nav_toggle,
.scroll-header .nav_mode {
    color: var(--title-color);
}

.dark-theme::-webkit-scrollbar {
    background: hsl(0, 0%, 30%);
}





@media screen and (max-width:767px) {
    .nav_menu {
        position: fixed;
        background-color: var(--body-color);
        top: 0;
        right: -50%;
        width: 47%;
        height: 100%;
        padding: 6rem 2rem 3.5rem;
        transition: .3s ease-in-out;
    }
}

@media screen and (max-width: 320px) {
    .container {
        margin-left: var(--mb-1);
        margin-right: var(--mb-1);
    }

    .home_img-bg {
        width: 220px;
    }

    .home_title {
        font-size: var(--h1-font-size);
    }

    .home_button {
        font-size: var(--smaller-font-size);
    }

    .story_square,
    .story_img,
    .testimonial_img,
    .testimonial_square {
        width: 180px;
    }

    .story_square,
    .testimonial_square {
        height: 180px;
    }

    .products_container {
        grid-template-columns: repeat(1, 180px);
        justify-content: center;
    }
}

@media screen and (min-width: 576px)
{
    .home_img-bg
    {
        width: 340px;
    }
    .featured_container
    {
        grid-template-columns: repeat(2,1fr);
        justify-content: center;
        align-items: flex-start;
        gap: 1.5rem
        ;
    }
    .footer_container
    {
        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (min-width: 767px)
{
    .section
    {
        padding: 8rem 0 1rem 0;
    }
    .cart
    {
        width: 420px;
        box-shadow: -2px 0 4px hsla(0, 0%, 15%, .1);
    }
    .nav
    {
        height: calc(var(--header-height) + 1.5rem);
        justify-content: initial;
        column-gap: 3rem;
    }
    .nav_toggle,.nav_close
    {
        display: none;
    }
    .nav_list
    {
        flex-direction: row;
        column-gap: 2.5rem;
    }
    .nav_link
    {
        text-transform: initial;
        font-size: var(--normal-font-size);
    }
    .nav_btns
    {
        margin-left: auto;
    }
    .home_container
    {
        padding-top: 6rem;
        grid-template-columns: 1fr max-content;
        align-items: center;
    }
    .home_img-bg
    {
        order: 1;
        transform: translate(1.5rem,-6rem);
    }
    .home_data
    {
        padding: 0 0 3rem 3rem;
    }
    .home_social
    {
        top:50%;
        column-gap: 2rem;
        left: -6rem;
    }
    .featured_title,.featured_price, .new_title, .new_price
    {
        font-size: var(--normal-font-size);
    }
    .story_container, .testimonial_container, .newsletter_bg
    {
        grid-template-columns: repeat(2,1fr);
    }
    .story_section-title
    {
        text-align: initial;
    }
    .story_section-title::before
    {
        margin: initial;
    }
    .story_images
    {
        order: -1;
        top: 2rem;
    }
    .story_img, .story_square, .testimonial_img, .testimonial_square
    {
        width: 250px;
    }
    .story_square, .testimonial_square
    {
        height: 250px;
    }
    .products_container
    {
        grid-template-columns: repeat(3,200px);
        justify-content: center;
        gap: 2.5rem;
    }
    .products_card
    {
        padding: 2rem 0;
    }
    .products_img
    {
        height: 155px;
    }
    .testimonial_images
    {
        top: 4rem;
    }
    .newsletter_bg
    {
        text-align: initial;
        column-gap: 2rem;
        padding: 3rem;
    }
    .newsletter_subscribe
    {
        flex-direction: row;
        column-gap: 1rem;
    }
    .newsletter_input
    {
        width: 100%;
    }
    .footer_container
    {
        grid-template-columns: repeat(4,max-content);
        justify-content: space-between;
    }
    .footer_title
    {
        font-size: var(--h3-font-size);
    }
}
@media screen and (min-width: 992px)
{
    .section_title
    {
        font-size: var(--h1-font-size);
    }
    .nav_menu
    {
        margin: auto;
    }
    .home_container
    {
        column-gap: 2rem;
    }
    .home_img-bg
    {
        width: 480px;
        height: 640px;
    }
    .home_social
    {
        left: -6.5rem;
    }
    .home_img
    {
        width: 420px;
    }
    .home_data
    {
        padding: 0rem 0rem 8rem 6rem;
    }
    .featured_container
    {
        grid-template-columns: repeat(3,312px);
    }
    .story_container,.testimonial_container
    {
        column-gap: 8rem;
    }
    .story_container
    {
        padding:0 2rem 0 2rem;
    }
    .story_images,.testimonial_images
    {
        top: 0;
    }
    .story_img, .story_square, .testimonial_img, .testimonial_square
    {
        width: 450px;
    }
    .story_square,.testimonial_square
    {
        height: 450px;
    }
    .products_container, .new_container
    {
        padding-top: 2rem;
    }
    .testimonial_container
    {
        padding: 0 2rem 4rem 2rem;
    }
}

@media screen and (min-width: 1024px){
    .container
    {
        margin-left: auto;
        margin-right: auto;
    }
    .story_container,.testimonial_container
    {
        column-gap: 13rem;
        padding-top: 3rem;
    }
    .nav_logo
    {
        padding-left: 2rem;
    }
    .nav_btns
    {
        padding-right: 2rem;
    }
    .home_social
    {
        left: -4.5rem;
    }
    .footer
    {
        margin: 0 2rem 0 2rem;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1350px)
{
    .newsletter
    {
        margin: 0 2rem 0 2rem ;
    }
}